/* modal css */
.shade-area{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container{
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    position: relative;
  }
  
  .delete-icon{
    background-color: #e00a02;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
  }
  
  /* modal css */
  .shade-area{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container{
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: #fff;
    position: relative;
  }
  
  .delete-icon{
    background-color: #e00a02;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
  }